#container {
    width: 100%;
    height: 2900px;
    background-color: #efebeb;
}

.header {
    background: url(../img/assets/h_img.jpg);
    background-size: cover;
}

.landing {
    width: 100%;
    height: 600px;
    color: #f4f3f3;
    text-align: center;
    padding-top: 100px;
    font-size: 17px;
    background-position: center;
    font-family: 'Open Sans', sans-serif;
}

.landing p {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}

.about {
    width: 100%;
    height: 350px;
    color: #212020;
    text-align: center;
    font-size: 8px;
    padding-top: 60px;
    font-family: 'Lora', serif;
}

.about p {
    font-size: 12px;
    color: #212020;
    font-family: 'Lora', serif;
}

.servback {
    background: url(../img/assets/s_image.jpg);
    background-size: cover;
}

.services {
    width: 100%;
    height: 350px;
    color: #f4f3f3;
    text-align: center;
    font-size: 8px;
    padding-top: 60px;
    font-family: 'Lora', serif;
}

.services p {
    font-size: 12px;
    color: #f4f3f3;
    font-family: 'Lora', serif;
}

.wedo {
    width: 100%;
    height: 350px;
    margin-top: 10px;
    color: #212020;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 10px;
}

.img {
    width: 33%;
    height: 320px;
    float: left;
    text-align: center;
    padding: 1%;
}

.img h2 {
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    padding-top: 5px;
}
.img p {
    font-family: 'Lora', serif;
    font-size: 10px;
}

.portfolio {
    width: 85%;
    height: 700px;
    color: #676666;
    text-align: center;
    font-family: 'Lora', serif;    
}

.portimg {
    width: 25%;
    height: 300px;
    float: left;
    padding: 1%;
}

.portimg1 {
    width: 25%;
    height: 300px;
    float: left;
    padding: 1%; 
    
}

.contback {
    background: url(../img/assets/c_image.jpg);
    background-size: cover;
}

.contact {
    width: 100%;
    height: 500px;;
    color: #f4f3f3;
    text-align: center;
}

.contactin {

}

.icons {
    margin: auto;
    width: 50%;
    height: 70px;
    padding: 10px;
    
}

.footer {
    width: 100%;
    height: 50px;
    text-align: center;
    color: #212020;
    font-family: 'Lora', serif;
}
